/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  display: grid;
  background-color: rgb(20, 25, 36);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "display display display display display display"
    "seven eight nine dividedBy backspace clear"
    "four five six times backspace clear"
    "one two three minus equals equals"
    "zero zero point plus equals equals";
}
.container > div {
  background-color: rgb(20, 25, 36);
  border-color: black;
  border-style: solid;
  text-align: center;
  padding: 20px;
  border: 0.1rem solid black;
  color: white;
  font-size: 2rem;
  border-radius: 25%;
  align-self: start;
}
.container > div:active {
  border: 0.2rem solid black;
}
div.display {
  grid-area: display;
  background-color: rgb(0, 0, 0);
  text-align: left;
  font-family: "Share Tech Mono", monospace;
  color: green;
  border-radius: 0;
  max-width: none;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.border {
  border: 0.2rem solid black !important;
}
div.red {
  background-color: red;
}
.zero {
  grid-area: zero;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.one {
  grid-area: one;
  margin-left: 1rem;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
  margin-left: 1rem;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
  margin-left: 1rem;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.point {
  grid-area: point;
  margin-bottom: 1rem;
}
.dividedBy {
  grid-area: dividedBy;
}
.times {
  grid-area: times;
}
.minus {
  grid-area: minus;
}
.plus {
  grid-area: plus;
  margin-bottom: 1rem;
}
div.backspace {
  grid-area: backspace;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.clear {
  grid-area: clear;
  margin-right: 1rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.equals {
  grid-area: equals;
  margin-bottom: 1rem;
  margin-right: 1rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
